.root {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main-accent: #5d5fef;
  --main-border: #e2e3e5;
  --button-text: #4d5562;
  --marking-lines: #c4c4c4;
  --background: #f3f4f6;
  --black: #000;
  --white: #fff;
}