.header {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border: 2px dashed var(--marking-lines);
  border-bottom: 2px solid var(--main-border);
  border-radius: 6px 6px 0px 0px;
}

.header__text {
  width: 100%;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 36px;
  color: var(--black);
  border-right: 2px solid var(--main-border);

  &:first-child {
    flex-basis: 50%;
  }

  &:last-child {
    border-right: none;
  }
}