.table__title {
  margin: 0;
  padding: 10px 10px;
  text-align: center;
  font-size: 36px;
  color: var(--black);
  border-bottom: 3px solid var(--main-border);
}

.table__btn-add {
  margin-bottom: 10px;
}

.table__column-title {
  margin: 0;

}
